@media screen and (max-width:992px){
    .my-photo img{
        max-width: 43vh;
    }
    .nav-toggle{
        display: block;
    }
    .menu{
        position:relative;
        max-width: 100%;
        margin-top: 40px;
    }
    .list{
        flex-direction: column;
        align-self: flex-start;
        gap: 10px;
    }
    #menu-logo{
        display: none;
    }
    .nav-bar{
        position: absolute;
        background-color:black;
        left: -120%;
        top: 100%;
        right: 0;
        width: 100%;
        padding-block: 20px;
        transition: .5s ease-in-out;
    }
    .nav-bar.active{
        left: 0;
    }
    .navigation ul{
        flex-direction: column;
    }
    .header{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        gap: 5px;
    }
    .header img{
        margin-bottom: 40px;
    }
    .introduce{
        max-width: 100vh;
    }
    .About-Me{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5px;
        
    }
    .right-part-introduce{
        margin-top: -20px;
        font-size: 1.2rem;
    }
    .About-Me img{
        margin-bottom: 40px;
    }
    .my-gallrey{
        margin-inline: 15px;
        margin-top: -30px;
    }
    .at{
        display: flex;
        justify-content: space-between;
    }
    .nav-toggle{
       display: flex;
       /* align-content: flex-end; */
       align-items: center;
       margin-right: 30px;
    }
    .portfolio-logo{
        display:flex;
        justify-content: center;
        align-items: center;
        /* align-content: flex-start; */
        align-self:flex-start ;
        gap: 10px;
        /* margin-left: 10px; */
    }
    .portfolio-logo img{
        height: 60px;
        background-color: yellow;
    }
    .nav-toggle i{
        font-size: 2rem;
        color: rgb(207, 207, 176);
    }
    .nav-toggle i:hover{
        color: yellow;
    }    
}
@media screen and (max-width:798px) {
    #work-container{
        margin-inline:10px;
    }
    .my-gallrey{
        display: flex;
        /* display: none; */
    }
    /* **************************************** */
    .my-gallrey{
        display: none;
    }
    .downer{
        display: flex;
        position: relative;
        justify-content: space-between;
        /* gap: 200px; */
    }
    .upper{
        position: absolute;
        left: 20%;
        right: 20%;
        margin-inline: auto;
        /* bottom: 0.05%; */
        top: -5%;
    }
    .content-left{
        max-width: 40%;
        /* position: absolute; */
    }
    .content-left img{
        transform-style: preserve-3d;
        animation: rotate-left 30s linear infinite;
        background-position: cover;
        border-radius: 10px;
        opacity: 0.4;
        width:100%;
        align-self: flex-start;
        height: 300px;
    }
    @keyframes rotate-left{
         0%{
            transform: perspective(1000px) rotateY(0deg);
        }
        100%{
            transform: perspective(1000px) rotateY(0deg);
        }
    }
    .content-right{
        max-width: 40%;
    }
    .content-right img{
        transform-style: preserve-3d;
        animation: rotate-right 3000s linear infinite;
        width:100%;
        align-self: flex-end;
        height: 300px;
        border-radius: 10px;
        opacity: 0.4;
    }
    @keyframes rotate-right{
        0%{
           transform: perspective(1000px) rotateY(0deg);
       }
       100%{
           transform: perspective(1000px) rotateY(0deg);
       }
    }
    .content-selected{
        display: flex;
        justify-content: center;
    }
    .content-selected img{
        background-size: cover;
        height: 350px;
        width: 100%;
        transform:scale(1.5);
        transform-style: preserve-3d;
        animation: rotate 3s linear infinite;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        box-shadow: 0px 0px 10px rgb(0, 0,0,0.5);
        /* transition: 100s;         */
    }
    @keyframes rotate{
        0%{
            transform: perspective(1000px) rotateY(-10deg);
        }
        100%{
            transform: perspective(1000px) rotateY(10deg);
        }
    }
    .button__{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;

    }
    .button__ i:hover{
        color: yellow;
    }
    .blog{
        margin-top: 70px;
    }
    /* ********************************************** */
    /* .box-1{
        width: 100vh;
        align-self: center;
        justify-self: center;
    } */
    .box{
        grid-row: span 2;
        grid-column: span 3;
        grid-auto-rows: 120px;
        /* margin-inline: 50px; */
    }
    .box-1{
        background-position: right;
    }

}
@media screen and (max-width:611px){
    .portfolio-logo{
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .portfolio-logo h1{
        font-size: 1.5rem;
    }
    .my-skills{
        flex-direction: column;   
        align-items: center;
        flex-basis: 100%;    
    }
    .skill{
        max-width:100%;
    }
    .box{
        background-position: top;
        max-width: 100%;
    }
    .box .btn{
        width: 90%;
    }
    .box:hover{
        background-position: left;
    }
    .primary-button{
        width: 100%;
        font-size: 1.3rem;
    }
    .nav-toggle{
        margin-right: -15px;
    }
    .portfolio-logo{
        margin-left: -10px;
    }
    .contact{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .contact-left-part{
        max-width: 70%;
    }
    .contact-right-part{
        max-width: 70%;
    }
}
@media screen and (max-width:428px){
    .service-box:hover>.service-content{
        transform: translateY(-100px);
    }
    .contact-left-part{
        max-width: 100%;
    }
    .contact-right-part{
        max-width: 100%;
    }
}
@media screen and (max-width:390px){
    .service-box:hover>.service-content{
        transform: translateY(-145px);
    }
}
@media screen and (max-width:360px){


    /* ***************************************************** */
    .downer img{
        max-height:250px;
        /* width: 10px; */
    }
    .upper{
        /* top:1%; */
    }
    .upper img{
        max-height: 275px;
    }
    .button__{
        justify-content: center;
        margin-top: 14.95px;
        margin-inline: auto;
        padding: 15px;
    }
    .button__ i{
        font-size: 12px;
    }
    .btn{
        padding: 3px;
        font-size: 12px;
    }
    .blog{
        margin-top:-50px;
    }

    .service-box:hover>.service-content{
        transform: translateY(-165px);
    }


    /* ***************************************************** */
    .nav-bar{
        left: -120%;
    }
    h1{
        font-size:2rem;
    }
    .slider img{
        height: 350px;
    }
    

}
@media screen and (max-width:330px){
    .service-box:hover>.service-content{
        transform: translateY(-190px);
    }
}
