@media  screen and (max-width:992px) {
    .my-services{
        margin-inline: 90px;
    }
    .service-box{
        max-width: 50vh;
    }
    .info-list{
        font-size: 1.2rem;
    }
    .introduce{
        margin-top: -40px;
        /* font-size: 1.5rem; */
    }
    .About-Me{
        margin-top: -20px;
    }
    .right-part-introduce{
        margin-top: -10px;
        /* font-size: 1.5rem; */
        margin-bottom: 20px;
    }
}
@media screen and (max-width:854px){
    .nav-toggle{
        display: block;
        margin-right: 20px;
    }
    .menu{
        position:relative;
        max-width: 100%;
        margin-top: 40px;
    }
    .nav-bar{
        position: absolute;
        background-color:black;
        left: -100%;
        top: 100%;
        right: 0;
        width: 100%;
        padding-block: 20px;
        transition: o.2s ease-in-out;
    }
    .nav-bar.active{
        left: 0;
    }
    .navigation ul{
        flex-direction: column;
    }
    .header{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
    }
    .header img{
        margin-bottom: 40px;
    }
    .introduce{
        max-width: 100vh;
    }
    .About-Me{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .right-part-introduce{
        margin-top: -20px;
        font-size: 1.2rem;
    }
    .About-Me img{
        margin-bottom: 40px;
    }
    /* .navigation{
        display: none;
    } */
    .work-heading{
        /* margin-top: -40px; */
    }
    .my-gallrey{
        margin-inline: 15px;
        margin-top: -30px;
    }
    .at{
        display: flex;
        /* justify-content: end; */
        /* margin-inline:50px ; */
        /* margin-top: 40px; */
        justify-content: space-around;
        /* gap: 120px; */
    }
    .nav-toggle{
       display: flex;
       /* align-content: flex-end; */
       align-items: center;
    }
    .portfolio-logo{
        display:flex;
        justify-content: center;
        align-items: center;
        /* align-content: flex-start; */
        align-self:flex-start ;
        gap: 10px;
    }
    .portfolio-logo img{
        height: 60px;
        background-color: yellow;
    }
    .nav-toggle i{
        font-size: 2rem;
        color: rgb(207, 207, 176);
    }
    .nav-toggle i:hover{
        color: yellow;
    }
    
    
}
@media screen and (max-width:798px) {
    .box{
        grid-row: span 2;
        grid-column: span 3;
        grid-auto-rows: 120px;
        margin-inline: 50px;
    }
    .box-1{
        background-position: right;
    }
    #form-control{
        padding: 20px;
    }
    .contact{
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }
    .contact-left-part{
        /* max-width: 50vh; */
        max-width: 60vh;
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 2rem;
        /* text-align: center; */
        /* margin-inline: 80px; */
    }
    .contact-right-part{
        display: flex;
        max-width: 40vh;
        text-align: center;
    }
}
@media screen and (max-width:611px){
    .portfolio-logo{
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .portfolio-logo h1{
        font-size: 1.5rem;
    }
    .my-skills{
        flex-direction: column;
        /* max-width: 100vh; */
        /* justify-content: center; */
        align-items: center;
        flex-basis: 100%;
        /* margin-inline: -50px; */
        
    }
    .skill{
        /* gap: -100px; */
        max-width:100%;
        
    }
    .box{
        background-position: top;
    }
    .box:hover{
        background-position: left;
    }
}