@media screen and (max-width:992px){
    .my-photo img{
        max-width: 43vh;
    }
    .nav-toggle{
        display: block;
    }
    .menu{
        position:relative;
        max-width: 100%;
        margin-top: 40px;
    }
    .nav-bar{
        position: absolute;
        background-color:black;
        left: -100%;
        top: 100%;
        right: 0;
        width: 100%;
        padding-block: 20px;
        transition: .5s ease-in-out;
    }
    .nav-bar.active{
        left: 0;
    }
    .navigation ul{
        flex-direction: column;
    }
    .header{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        gap: 5px;
    }
    .header img{
        margin-bottom: 40px;
    }
    .introduce{
        max-width: 100vh;
    }
    .About-Me{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5px;
        
    }
    .right-part-introduce{
        margin-top: -20px;
        font-size: 1.2rem;
    }
    .About-Me img{
        margin-bottom: 40px;
    }
    .my-gallrey{
        margin-inline: 15px;
        margin-top: -30px;
    }
    .at{
        display: flex;
        justify-content: space-between;
    }
    .nav-toggle{
       display: flex;
       /* align-content: flex-end; */
       align-items: center;
       margin-right: 30px;
    }
    .portfolio-logo{
        display:flex;
        justify-content: center;
        align-items: center;
        /* align-content: flex-start; */
        align-self:flex-start ;
        gap: 10px;
        /* margin-left: 10px; */
    }
    .portfolio-logo img{
        height: 60px;
        background-color: yellow;
    }
    .nav-toggle i{
        font-size: 2rem;
        color: rgb(207, 207, 176);
    }
    .nav-toggle i:hover{
        color: yellow;
    }
    
    
}
@media screen and (max-width:798px) {
    .contact-right-part{
        /* max-width: auto; */
    }
    .box{
        grid-row: span 2;
        grid-column: span 3;
        grid-auto-rows: 120px;
        /* margin-inline: 50px; */
    }
    .box-1{
        background-position: right;
    }
    #form-control{
        padding: 20px;
    }
    .contact{
        flex-direction: column-reverse;
        /* align-items: center; */

        gap: 20px;
    }
    .contact-left-part{
        font-size: 2rem;
    }
    .contact-right-part{
        text-align: center;
    }
}
@media screen and (max-width:611px){
    .portfolio-logo{
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .portfolio-logo h1{
        font-size: 1.5rem;
    }
    .my-skills{
        flex-direction: column;   
        align-items: center;
        flex-basis: 100%;    
    }
    .skill{
        max-width:100%;
    }
    .box{
        background-position: top;
        max-width: 100%;
    }
    .box .btn{
        width: 90%;
    }
    .box:hover{
        background-position: left;
    }
    .primary-button{
        width: 100%;
        font-size: 1.3rem;
    }
    .nav-toggle{
        margin-right: -15px;
    }
    .portfolio-logo{
        margin-left: -10px;
    }
    .service-box{
        width: 100%;
    }
    .service-box img{
        max-width: 100%;
    }

}
@media screen and (max-width:330px){
    .contact-right-part{
        font-size: 1rem;
    }
    .nav-bar{
        left: -120%;
    }
    h1{
        font-size:2rem;
    }
    
}
